doctype 5
html
  head
    title= (title + ' - Marked-Blog')
    link(rel='stylesheet', href='#{admin_url}/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='#{admin_url}/css/style.css')
    link(rel='stylesheet', href='#{admin_url}/css/messenger.css')
    link(rel='stylesheet', href='#{admin_url}/css/messenger-theme-future.css')
    script(type="text/javascript", src="#{admin_url}/js/jquery-1.10.1.min.js")
    script(type="text/javascript", src="#{admin_url}/js/messenger.min.js")
    script(type="text/javascript", src="#{admin_url}/bootstrap/js/bootstrap.min.js")
    script(type="text/javascript", src="#{admin_url}/js/ui.js")
    block header

  body
    div.color-line
      i.one
      i.two
      i.three
    div.container-fluid
      div.row-fluid
        div.span3.mb-sidebar
          h1 
            a(href='#{admin_url}/') Marked-Blog
          ul.nav.nav-list.mb-sidenav.affix(style='opacity: 1; width: 280px;')
            li.active
              a(href='#{admin_url}/post') #{__('post')}
            li
              a(href='#{admin_url}/category') #{__('category')}
            li
              a(href='#{admin_url}/settings') #{__('settings')}
          a.nav-toggle.toggle-bar

        div.mb-sidebar-mini
          a.nav-toggle.toggle-bar

        div.span9.mb-content
          div.common-link
            block links
            a.home(href='/', target='_blank') #{__('home')}
            a.logout(href='#{admin_url}/logout') #{__('logout')}
          h1.title= title
          hr.title-hr
          block content

  script(type="text/javascript")
    $._messengerDefaults = {
      extraClasses: 'messenger-fixed messenger-theme-future messenger-on-top'
    }
    $(document).ajaxError(function (event, xhr, ajaxSettings, thrownError) {
      $.globalMessenger().post(JSON.parse(xhr.responseText).msg);
    });
    $(document).ready(function () {
      $('ul.nav a').each(function () {
        // set li the active class
        if ($(this).attr('href') == location.pathname) {
          $('ul.nav li').removeClass('active');
          $(this).parent().addClass('active');
        }
      });
    })
