extends layout

block header
  title= post.title

  link(rel="stylesheet", href="#{admin_url}/css/post.css")
  style.
    #editor {
      resize:vertical; 
      overflow:auto; 
      border:1px solid silver; 
      border-radius:5px; 
      min-height:100px;
      box-shadow: inset 0 0 10px silver;
      padding:1em;
    }

  script(type="text/javascript", src="#{admin_url}/js/knockout-2.2.1.js")
  script(type="text/javascript", src="#{admin_url}/js/ace.js")
  script(type="text/javascript", src="#{admin_url}/js/keybinding-vim.js")
  script(type="text/javascript", src="#{admin_url}/js/theme-dreamweaver.js")
  script(type="text/javascript", src="#{admin_url}/js/mode-markdown.js")
  script(type="text/javascript").
    
    $(document).ready(function () {
      var editor = ace.edit('editor');
      editor.setTheme("ace/theme/dreamweaver");
      var MarkdownMode = require("ace/mode/markdown").Mode;
      editor.getSession().setMode(new MarkdownMode());

      $('a.black').click(function () {
        $('#editPost').submit();
      });

      $('#editPost').submit(function () {
        var data = $(this).serialize();
        data += '&content=' + editor.getValue();
        if ($('#postId').val() != '') {
          $.ajax({url: '#{admin_url}/post', data: data, success: function () {
            alert('update success');
          }, type: 'put'});
        } else {
          // add new Post
          $.post('#{admin_url}/post', data, function (result) {
            alert('create success');
          });
        }
        return false;
      });

      $('#save').click(function () {
        $('#uploadFile').submit();
      });

      // the upload file callback
      window.fileUploaded = function (filePath) {
        editor.insert(filePath);
      };

    });

block links
  a.black(href='#') #{__('save')}

block content
  // edit post 
  form#editPost(method='post')
    input#postId(type="hidden", name="_id", value="#{post._id}")
    label #{__('title')}
    input.input-block-level(type="text", name="title", value="#{post.title}")
    div(style='display: none;')
      label url
      input(type="text", name="url", value="#{post.url}")
    label #{__('content')}
    // edit controls
    div#editControls.span9(style='padding:5px;')
      div.btn-group
        a.btn(data-toggle="modal", data-target="#uploadModal")
          i.icon-paste
    div#editor.input-block-level= post.content

  // upload file modal dialog
  div#uploadModal.modal.hide.fade(tabindex="-1", role="dialog", aria-labelledby="modalLabel", aria-hidden="true")
    div.modal-header
      button.close(data-dismiss="modal", aria-hidden="true") &times;
      h3#modalLabel #{__('edit')}
    div.modal-body
      iframe#post_frame(name='post_frame', style="display:none;", mce_style="display:none;")
      form#uploadFile.form-horizontal(method='post', action='#{admin_url}/file', target='post_frame', enctype="multipart/form-data")
        div.control-group
          label.control-label(for="upload") #{__('cateName')}
          div.controls
            input#upload(type="file", name="upload", placeholder="#{__('cateName')}")
    div.modal-footer
      a#save.btn.btn-primary(href="#", data-dismiss="modal") #{__('save')}