extends layout

block header
  link(rel="stylesheet", href="/admin/css/post.css")
  script(type="text/javascript", src="/admin/js/knockout-2.2.1.js")
  script(type="text/javascript")
    
    $(function () {
      
    });

block content
  // display Post list
  table.table.table-bordered.table-striped
    tr
      th 标题
      th 发布时间
      th 浏览数
      th 是否发布
      th 操作
    - each post in posts
      tr
        td
          a(href="/#{post.url}", target='_blank') #{post.title}
        td #{post.create_date}
        td #{post.views}
        td #{post.public}
        td 
          a.button(href="#{admin_url}/post/edit/#{post._id}") 编辑
