extends layout

block header
  meta(name='description', content='#{description}')

block content
  - each post in posts
    article.post
      div.post-content
        header
          div.icon
          time(datetime='#{post.create_date}')
            a(href='/#{post.url}', target='_blank')= post.create
          h1.title
            a(href='/#{post.url}', target='_blank')= post.title

        div.entry !{post.abstract_html}

        footer
          div.alignleft
            a.more-link(href='/#{post.url}', target='_blank') 阅读全文
          div.clearfix

  nav#pagination
    if current_page < total_page
      a.alignright.next(href='/page/#{(current_page + 1)}') 下一页
    if current_page > 1
      a.alignleft.prev(href='/page/#{(current_page - 1)}') 上一页


